{% if projects.has_other_pages %}
<div class="pagination">
	<ul class="container">

		<li>
			{% if projects.has_previous %}
			<a href="?q={{search_query}}&page={{projects.previous_page_number}}" class="btn">
				&#10094; Prev
			</a>
			{% endif %}
		</li>

		{% for page in custom_range %}
		<li>
			<a href="?q={{search_query}}&page={{page}}" class="btn{% if page == projects.number %} btn--sub{% endif %}">
				{{ page }}
			</a>
		</li>
		{% endfor %}

		<li>
			{% if projects.has_next %}
			<a href="?q={{search_query}}&page={{projects.next_page_number}}" class="btn">
				Next &#10095;
			</a>
			{% endif %}
		</li>

	</ul>
</div>
{% endif %}