{% extends 'main.html' %}

{% block content %}
<main class="formPage my-xl">
	<div class="content-box">
		<div class="formWrapper">
			<a class="backButton" href="{% url 'users:show' recipient.id %}">Back</a>
			<br>

			<form class="form" method="POST">
				{% csrf_token %}
				{% if not request.user.is_authenticated %}
					<div class="form__field">
						<label for="{{ form.name.id_for_label }}">{{ form.name.label }}: </label>
						{{ form.name }}
					</div>

					<div class="form__field">
						<label for="{{ form.email.id_for_label }}">{{ form.email.label }}: </label>
						{{ form.email }}
					</div>
				{% endif %}

				<div class="form__field">
					<label for="{{ form.subject.id_for_label }}">{{ form.subject.label }}: </label>
					{{ form.subject }}
				</div>

				<div class="form__field">
					<label for="{{ form.body.id_for_label }}">{{ form.body.label }}: </label>
					{{ form.body }}
				</div>

				<input class="btn btn--sub btn--lg  my-md" type="submit" value="Submit" />
			</form>
		</div>
	</div>
</main>
{% endblock content %}